body {
  font-family: verdana, sans-serif;
  font-size: 12px;
  color: #202c28;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: left;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 25px auto;
  max-width: 1200px;
}

@media only screen and (max-width: 1230px) {
	body {
		margin: 25px 50px;	
	}
}

.heading,
.note {
	color: #364a43;
	display: flex;
}

.note {
	align-items: flex-end;
}

.heading {
	align-items: center;
	justify-content: space-between;
}

.lang,
.pdf {
	text-align: right;
}

.lang a,
.pdf a {
	color: #56766b;
	font-size: 15px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 16px;
}

.inner {
	margin-top: 50px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row a {
	color: #364a43;
}

.row:nth-child(even) {
	background-color: rgba(170, 213, 194, .5);
}

.title,
.description {
	padding: 15px;
}

.title div,
.description div {
	margin-top: 5px;
}

.title {
	flex: 1 0 calc(35% - 30px);
	text-align: right;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}

.title img {
	height: 20px;
}

.description {
	flex: 1 0 calc(65% - 30px);
}

.print-only {
	display: none;
}

.note {
	margin-bottom: 25px;
}

.date {
	padding-top: 20px;
	text-align: right;
}

@media only screen and (max-width: 600px) {
	body {
		margin: 0;
	}

	.title,
	.description {
		flex: 1 1 100%;
		text-align: left;
	}

	h1,
	h2,
	h3,
	.note,
	.date,
	.lang,
	.pdf {
		padding: 15px;
	}

	h1 {
		margin: 15px 0 0;
	}

	h2,
	h3 {
		margin: 0;
	}
}

@media print {
	.print-only {
		display: flex;
	}

	.screen-only {
		display: none;
	}

	section {
		page-break-inside: avoid;
	}
}
